# Nuxt dev/build outputs
.output-nuxt
.data
.nuxt
.nitro
.cache
dist

# Express dev/build outputs
.output-express

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
